.carousel{
    height: 45vh;
    width: 80%;
}

.carousel img{
    height: 45vh;
    
}

.carousel-control-prev{
    justify-content: start !important;
}

.carousel-control-next{
    justify-content: end !important;
}