@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.navigation{
    height: 10vh;

    span a{
        color: black !important;
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
        text-shadow: 1px 1px #2d8fd1;
    }

   button{
       background-color: #2d8fd1;
    }

   .logo{
       height: 80%;
       width: 50px;
    }

   .nav-input{
        width: 500px !important;
    }

    
}

.cart-user-container{
    position: relative;

    .cart{
        height: 100%;
        width: 20px;
    }

    .cart-quantity{
        position: absolute;
        bottom: 35%;
        right: 88%;
        
        p{
            font-size: .8rem;
            font-weight: bold;
            margin: 0;
        }
    }

    button{
        font-weight: 700;
        font-family: 'Oswald', sans-serif;
        background-color: #fff;
        border: none;
    }
}








