.product-description{
    h4{
        width: 100%;
        border-bottom: 1px solid #95afc0;
    }
}

.product-information{
    h4{
        width: 100%;
        border-bottom: 1px solid #95afc0;
    }
}