.product-buy{
    height: 30%;
}

.product-price{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #95afc0;
    padding: 0 !important;
}

.product-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;

    div{
      padding: 5px;
    }

    button{
    
        width: 125px;
    }
}

.product-shipping{
    justify-content: center;
    align-items: center;
    height: 20%;
    border-top: 1px solid #95afc0;
}