.star-rating-container {
  
  margin: 0 !important;

  .star-rating {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .star-outter {
      svg {
        color: lightgray;
      }
    }

    .star-inner {
      position: absolute;
      top: 0;
      right: 0;

      svg {
        color: yellow;
      }

      .empty-star{
        color: lightgray;
      }
    }

    p{
      margin: 0;
    }
  }
}
