.selling-cta-con{
    margin-bottom: 5rem;
}

.selling-cta{
    width: 80%;
    border: 1px solid lightgray;
    

    img{
        height: 300px;
        width: 100%;
    }

    div{
        padding: 0 2rem;
    }

    button{
        background-color: #2d8fd1;
    }
}

.selling-cta-bg{
   /* background-color: #34495e;*/
}