@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.categories{
    height: 50px;
    font-family: 'Oswald', sans-serif;

    ul{
        height: 100%;
    }

    ul li a{
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
    }

    ul li a:hover{
        
        color: rgba(45, 143, 209, 0.5);
        text-decoration: none;
    }
}

@media screen and(max-width: 575px){
    .dropdown-menu{
        left: -180px !important;
    }
}
